<!DOCTYPE html>
<html>
	<head>
		<title>{% block title%}TagDown{% endblock %}</title>
		{% block css %}
		<link rel="stylesheet" href="{{'tagdown:static/css/bootstrap.css'|static_url}}" />
		<link rel="stylesheet" href="{{'tagdown:static/css/bootstrap-responsive.css'|static_url}}" />
		{% endblock %}
		<script language="JavaScript" type="text/javascript"
		 data-main="{{ 'tagdown:static/js/main.js'|static_url }}" 
		 src="{{ 'tagdown:static/js/require.js'|static_url }}"></script>
	</head>
	<body>
		{% block body%}
		<div class="container">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<ul class="nav">
						<li><a href="#">Home</a></li>
						<li><a href="/docform/">Work</a></li>
					</ul>
					<form class="navbar-form pull-right">
					  <input type="text" class="span2">
					  <button type="submit" class="btn">Submit</button>
					</form>
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
		{% endblock %}
	{% block js%}
	{% endblock %}
	</body>
</html>
